/**
 *leepom 2018.9.30
 *
*/

/*公共样式*/
header a,
header span{
    color: #777;
    text-decoration: none;
}

/*字体图标*/
@font-face {
    font-family: leepom;
    src: url('../fonts/MiFie-Web-Font.eot?6cyhth');
    src: url('../fonts/MiFie-Web-Font.eot?6cyhth#iefix') format('embedded-opentype'),
    url('../fonts/MiFie-Web-Font.svg?6cyhth#MiFie-Web-Font') format('svg'),
    url('../fonts/MiFie-Web-Font.ttf?6cyhth') format('truetype'),
    url('../fonts/MiFie-Web-Font.woff?6cyhth') format('woff');
    font-weight: normal;
    font-style: normal;
}
[class *= " icon-"],
[class ^= "icon-"]{
    font-family: leepom;
    font-style: normal;

}

/*导航区域*/
header > .topbar{
    border-bottom: 1px solid #e0e0e0;
    line-height: 40px;
    font-size:10px;
}

header > .topbar >.container >.row > div + div{
    border-left: 1px solid #e0e0e0;
}

.icon-phone::before{
    font-size: 13px;
    content: '\e908';
}

.icon-call::before{
    font-size: 15px;
    content: '\e909';
}

.topbar  .text-muted {
    margin-left: 15px;
    font-size: 13px;
}


.navbar-header{
    height:70px;
}
/*导航条*/
header #nav-tabs ul li a{
    height:70px;
    line-height:40px;
}

.icon-icon::before {
    content: "\e920";
}
.icon-logo::before {
    content: "\e93e";
}
/*微调 图标居中*/
.navbar-brand{
    position: relative;
    bottom: 5px;
}

.icon-icon {
    color: #E9232C;
    display: inline-block;
    font-size: 50px;
    line-height: 50px;
    vertical-align: middle;
}
.icon-logo {
    color: #434243;
    display: inline-block;
    font-size: 36px;
    line-height: 50px;
    vertical-align: middle;
}


.navbar-leepom {
    border-top:none;
    background-color: #ffffff;
    border-color: #e7e7e7;
    margin-bottom: 0;
    top:0;
    width: 100%;
}

/*设置选中标签样式*/
.navbar-leepom .navbar-nav > .active > a,
.navbar-leepom .navbar-nav > .active > a:hover,
.navbar-leepom .navbar-nav > .active > a:focus {
    color: #424242;
    background-color: #fff;
    border-bottom: 2px solid #e9232c;
}
/*设置未选中标签的样式*/
.navbar-leepom .navbar-nav > li > a:hover,
.navbar-leepom .navbar-nav > li > a:focus {
    color: #424242;
    background-color: transparent;
    border-bottom: 2px solid #e9232c;
}
/*导航折叠按钮位置*/
.navbar-leepom .navbar-header button{
    position: relative;
    top: 10px;
}
/*/导航栏*/

/*轮播图*/
@media (min-width: 768px) {
    #home_slide .item{
        height: 410px;

    }
    #home_slide img{
        display: none;
    }
}

#home_slide img{
    width:100%
}
#home_slide .item{
    background-size: cover;
    background-position: center center;
    width:100%;
    overflow: hidden;
    text-align: center;
}

/* 网站特色 */

.icon-uniE901:before {
    content: "\e901";
}

.icon-uniE902:before {
    content: "\e902";
}

.icon-uniE903:before {
    content: "\e903";
}

.icon-uniE904:before {
    content: "\e904";
}

.icon-uniE905:before {
    content: "\e905";
}

.icon-uniE906:before {
    content: "\e906";
}

.icon-uniE907:before {
    content: "\e907";
}
#features{
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e0e0e0;
}
#features a{
    color: #333;
    text-decoration: none;
}

#features a:hover{
    color: #FF0000;

}
#features .media {
    padding: 10px 0;
}

#features a i {
    display: block;
    font-size: 30px;
    padding: 10px 0;
    line-height: 50px;
}
#features a .media-right {
    padding: 5px 0;
}

/* 立即预约 */
#booking {
    border-bottom: 1px solid #e0e0e0;
}
#booking p{
    font-size: 16px;
    line-height: 65px;

}
#booking p i{
    font-size: 20px;

}
#booking span{
    color:#e9232c;
}
#booking .immediate-appointment{
    text-decoration: none;
    border-bottom: 1px dashed #e9232c;
}
#booking .publicity{
    color: #333;
    text-decoration: none;
}

/* 产品列表 */
#products {
    padding: 40px 0;
    background-color: #f0f0f0;
}
/*1.设置内容宽度，2包裹标签的容器设置横向滚动条 */
#products .nav-wraper{
    overflow-x: scroll;
}
#products .nav-tabs{
    border-bottom: 1px solid #c0c0c0;
    padding-left: 20px;
    font-size: 16px;
    color:#444;
}

#products  .nav-tabs  > li > a{
    color: #444;
    font-size: 16px;
    background-color: transparent;
    border: none;
}
#products  .nav-tabs > .active > a {
    color: #444;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #e9232c;

}
#products .tab-content .tab-pane{

    margin-top: 20px;

}
#products .tab-content .tab-pane{

    margin-top: 20px;

}
.panel-product {
    border-color: #fff;
    border-radius: 0;
    padding: 0;
    background-color: #fff;
    margin-bottom: 25px;
    box-shadow: 1px 1px 5px #c0c0c0;
    color: #555;
}
.panel-product.state-1,.panel-product.state-2,.panel-product.state-3,.panel-product.state-4{
    background-color: #E0E0E0;

}
.panel-product.state-1::after{
    content: "\e925";
}
.panel-product.state-2::after{
    content: "\e926";
}
.panel-product.state-3::after{
    content: "\e927";
}
.panel-product.state-4::after{
    content: "\e928";
}

.panel-product.state-1::after,
.panel-product.state-2::after,
.panel-product.state-3::after,
.panel-product.state-4::after {
    font-family: leepom;
    font-size: 100px;
    color: #e9232c;
    position: absolute;
    top: 10px;
    right: 108px;
}
#products .tab-content .panel-product.active{

    background-color: #e9232c;
    border-color: #e9232c;
    color: #fff;
}
.panel-product .panel-body h5{
    font-size:16px;
    margin: 0 0 10px 0;
}
.panel-product .panel-body dt{
    font-size:10px;
    color:#c0c0c0;

}

.panel-product .panel-body dd{
    font-size:16px;
    margin-bottom: 5px;

}


.panel-product.active .panel-body::before{
    content:'\e915';
    font-family:'leepom';
    font-size: 32px;
    top: -6px;
    position: absolute;
    left: 15px;
}
#products .tab-content .tab-pane .panel-heading{
    height: 150px;
    width: 100px;
    float: right;

}
#products .tab-content .tab-pane .panel-body{
    height: 150px;
    margin-right:100px;
    border-right:1px dashed #c0c0c0;
}
.panel-product .panel-heading{
    position: relative;
}
.panel-product .panel-heading::before{
    content: ' ';
    background-color: #f0f0f0;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    display: block;
    position: absolute;
    top: -7px;
    left: -7px;
}
.panel-product .panel-heading::after{
    content: ' ';
    background-color: #f0f0f0;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    display: block;
    position: absolute;
    bottom: -7px;
    left: -7px;
}
.panel-product .panel-heading dd{
    font-size: 50px;
    color: #e9232c;
    top: 36px;
    right: 30px;
    position: absolute;
}
.panel-product .panel-heading dd sub{
    font-size: 10px;

}
.panel-product .panel-heading dt{
    position: absolute;
    top: 105px;
    right: 35px;
    font-size: 10px;
}
.panel-product.active .panel-heading dd {

    color: #ffffff;

}
.panel-product .panel-heading span{
    border: 1px solid;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 2px;
    font-size: 10px;
    cursor: pointer;
    margin-top:15px;
}
.panel-product .panel-heading span.primary{
    color: #e9232c;
    border-color: #e9232c;
}
.panel-product .panel-heading span.secondary{
    color: #399;
    border-color: #399;
}
/* 新闻 */
#news {
    padding: 50px 0;
    border-bottom: 1px solid #c0c0c0;
}
#news .line {
    height: 100%;
    border-left: 1px dashed #c0c0c0;
    position: absolute;
    top: 0;
    left: 55%;
    z-index: -1;
}
#news .news-title {
    border-bottom: 1px dashed #c0c0c0;
    text-align: center;
    font-size: 20px;
    padding: 10px 0 15px 0;
    margin-bottom: 15px;
    position: relative;
}

#news .news-title::before{
    position: absolute;
    content: ' ';
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    bottom: -5px;
    right: -5px;
}
#news .icon-news01::before{
    content: "\e90e";
    font-size: 28px;
    color: #EAEAEA;
}
#news .icon-news02::before{
    content: "\e90f";
    font-size: 28px;
    color: #EAEAEA;
}
#news .icon-news03::before{
    content: "\e910";
    font-size: 28px;
    color: #EAEAEA;
}
#news .icon-news066::before{
    content: "\e911";
    font-size: 28px;
    color: #EAEAEA;
}
#news .nav-pills > li >a {
    background-color: #c0c0c0;
}
#news .nav-pills > li > a:hover,
#news .nav-pills > li.active > a,
#news .nav-pills > li.active > a:hover,
#news .nav-pills > li.active > a:focus {
    background-color: #e9232c;
}


#news .nav-pills > li > a {
    display: block;
    width: 60px;
    height:60px;
    border-radius: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}
#news .tab-pane ul {
    list-style: none;
    font-size: 14px;
    line-height: 3;
    padding: 0;
}

@media (max-width: 1000px) {
    ul.nav.nav-pills.nav-stacked li {
        float: left;
    }
}

/* 合作伙伴 */
.partner-list {
    list-style: none;

    padding: 50px 0;
    font-size:0;
}
.partner-list li{
    display: inline-block;
    width: calc(100% / 9);
    font-size: 50px;
}

.partner-list li a{
    color: #999;
}
.partner-list > li > a:hover {
    text-decoration: none;
}
.partner-list > li + li {
    border-left: 1px dashed #c0c0c0;
    color: #ddd;
}

.icon-uniE930:before {
    content: "\e930";
}
.icon-uniE930:hover {
    color: #df3232;
}
.icon-uniE92F:before {
    content: "\e92F";
}
.icon-uniE92E:before {
    content: "\e92E";
}
.icon-uniE92A:before {
    content: "\e92A";
}
.icon-uniE929:before {
    content: "\e92E";
}
.icon-uniE931:before {
    content: "\e931";
}
.icon-uniE92C:before {
    content: "\e92C";
}
.icon-uniE92B:before {
    content: "\e92B";
}
.icon-uniE92D:before {
    content: "\e92D";
}


/*body{
    height:2000px;
}*/

